html {
    background-color: black;
}

.earth_gif {
    transform: translate(-450px, -100px) scale(1.2, 1.35)
}

.logo {
    color: whitesmoke;
    transform: translate(295px, 220px);
    font-size: 50px;

}

.login {
    color: black;
    transform: translate(1000px, 220px);
    height: 40px;
    width: 100px;
    font-size: 20px;

}

.active {
    color: black;
    background-color: whitesmoke;
    height: 40px;
    width: 100px;
    font-size: 20px;
}

#logg a {
    color: black;
    text-align: center;
    text-decoration: none;
} 