html {
    background-color: black;
}

.earth_gif {
    transform: scale(1.25, 1.25) translate(-300px, -50px);
}

.logo {
    color: whitesmoke;
    transform: translate(290px, 220px)

}

.login {
    color: black;
    transform: translate(995px, 220px);
    height: 40px;
    width: 100px;
    font-size: 20px;

}

.active {
    color: black;
    background-color: whitesmoke;
    height: 40px;
    width: 100px;
    font-size: 20px;
}

#logg a {
    color: black;
    text-align: center;
    text-decoration: none;
} 